body{
    text-align: center
}
table{
    margin-top: 50mm;
    border-collapse: collapse;
    transition-duration: 0.9s;
    
}
th{
    color: rgb(34, 78, 64);
    padding: 10mm 33mm 10mm 33mm;

    background-color:rgb(199, 55, 36);
    font-size: 25px;
    color: aliceblue;
    
    
}
td{
    padding: 13mm 33mm 13mm 33mm;
    font-size: 22px;

}
tr{
    background-color:#9FEDC8;
    transition-duration: 0.4s;
    font-family: 'Open Sans' ;

}

table tr:nth-child(odd) 
{
    background-color: rgb(105, 221, 167);
    transition-duration: 0.4s;
}


tr:hover
{
    background-color: rgba(69, 189, 236, 0.904 );
}
tr:nth-child(odd):hover
{
    background-color: rgba(69, 189, 236, 0.904 );
}